.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.designer-list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-head-btn {
  margin-left: 10px;  
}

.designer-company {
  margin-top: 10px;
}

.designer-email {
  margin-bottom: 10px;
}

input {
  border-radius: 3px;
}