.add-designer-form, .designer-form {
  display: flex;
  flex-direction: column;
}

.input,
.add-designer-btn {
  margin: 10px 0;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 100%;
}

.input {
  background-color: #6bb4ff3b;
  border-bottom: 1.25px solid#3360c5eb;
  width: 390px;
}

.add-designer-btn {
  background-color: #3360c5eb;
  margin-top: 30px;
  color: #fff;
  border-radius: 4px;
}
