.add-designer-form, 
.add-designer-comment-form, 
.style-comment-form, 
.add-style-comment-form, 
.add-designer-style-form, 
.designer-form, 
.designer-comment-form, 
.styles-list, 
.comments-list,
.designer-contact-edit-form,
.edit-designer-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.add-designer-btn, 
.add-style-comment-btn, 
.add-designer-style-btn, 
.add-designer-comment-btn,
.edit-designer-contact-btn {
  margin: 10px 0;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 100%;
}

.input {
  background-color: #6bb4ff3b;
  border-bottom: 1.25px solid#3360c5eb;
  width: 390px;
}

.add-designer-btn, 
.add-designer-style-btn, 
.add-style-comment-btn, 
.add-designer-comment-btn,
.edit-designer-contact-btn {
  background-color: #3360c5eb;
  margin-top: 30px;
  color: #fff;
  border-radius: 4px;
}

.designer-form-top,
.designer-contact-edit-top {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.designer-contact-x-btn, .add-designer-x-btn {
  margin-left: 10px;  
}
