.nav-bar {
      border-bottom: 1px solid grey;
    display: flex;
    background: lightsteelblue;
    display: flex;
    justify-content: space-between;
}

.home-btn,
.prev-designer-btn {
  margin: 10px;
}